parameters:
	excludePaths:
		- %rootDir%/../../../tests/tmp/*

	bootstrapFiles:
		- %rootDir%/../../../phpstanConstants.php

	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
