parameters:
	excludePaths:
		- %rootDir%/../../../tests/tmp/*

	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics

	bootstrapFiles:
		- %rootDir%/../../../phpstanConstants.php
