parameters:
	excludePaths:
		- %rootDir%/../../../tests/tmp/*

	ignoreErrors:
		-
			message: "#^Unable to resolve the template type T in call to method Nette\\\\DI\\\\Container\\:\\:getByType\\(\\)$#"
			count: 2
			path: src/Model/ServiceLocator.php

	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false

	bootstrapFiles:
		- %rootDir%/../../../phpstanConstants.php
