services:
	elasticMapper:
	 	class: Spameri\Elastic\Mapper\ElasticMapper

	insert:
		class: Spameri\Elastic\Model\Insert

	insertMultiple:
		class: Spameri\Elastic\Model\InsertMultiple

	prepareEntityArray:
		class: Spameri\Elastic\Model\Insert\PrepareEntityArray

	applyTimestamp:
		class: Spameri\Elastic\Model\Insert\ApplyTimestamp

	get:
		class: Spameri\Elastic\Model\Get

	getBy:
		class: Spameri\Elastic\Model\GetBy

	getAllBy:
		class: Spameri\Elastic\Model\GetAllBy

	search:
		class: Spameri\Elastic\Model\Search

	scroll:
		class: Spameri\Elastic\Model\Scroll

	delete:
		class: Spameri\Elastic\Model\Delete

	aggregate:
		class: Spameri\Elastic\Model\Aggregate

	deleteMultiple:
		class: Spameri\Elastic\Model\DeleteMultiple

	indiceClose:
		class: Spameri\Elastic\Model\Indices\Close

	indiceOpen:
		class: Spameri\Elastic\Model\Indices\Open

	indiceGet:
		class: Spameri\Elastic\Model\Indices\Get

	indiceGetMapping:
		class: Spameri\Elastic\Model\Indices\GetMapping

	indicePutMapping:
		class: Spameri\Elastic\Model\Indices\PutMapping

	indicePutSettings:
		class: Spameri\Elastic\Model\Indices\PutSettings

	indicesCreate:
		class: Spameri\Elastic\Model\Indices\Create

	indicesDelete:
		class: Spameri\Elastic\Model\Indices\Delete

	serviceLocator:
		class: Spameri\Elastic\Model\ServiceLocator

	mapping:
		class: Spameri\Elastic\Model\Mapping

	userProvider:
	 	class: Spameri\Elastic\Model\NetteUserProvider

	neonSettingsProvider:
		class: Spameri\Elastic\Settings\NeonSettingsProvider(%host%, %port%)

	clientProvider:
	 	class: Spameri\Elastic\ClientProvider

	elasticPanelLogger:
		class: Spameri\Elastic\Diagnostics\PanelLogger(@spameriElasticSearch.nullLogger)

	nullLogger:
		class: Psr\Log\NullLogger

	elasticPanel:
		class: Spameri\Elastic\Diagnostics\Panel

	validateMapping:
		class: Spameri\Elastic\Model\ValidateMapping(%entities%, %settings%, ...)

	display:
		class: Spameri\Elastic\Model\ValidateMapping\Display

	documentMigrateStatus:
		class: Spameri\Elastic\Model\TypeToNewIndex\DocumentMigrateStatus

	migrate:
		class: Spameri\Elastic\Model\TypeToNewIndex\Migrate

	modelDumpIndex:
		class: \Spameri\Elastic\Model\DumpIndex

	restoreIndex:
		class: \Spameri\Elastic\Model\RestoreIndex

#	###
#	Commands
#	###

	createIndex:
		class: Spameri\Elastic\Commands\CreateIndex(%entities%)
		tags:
			- kdyby.console.command
			- console.command

	updateMapping:
		class: Spameri\Elastic\Commands\UpdateMapping(%entities%)
		tags:
			- kdyby.console.command
			- console.command

	deleteIndex:
		class: Spameri\Elastic\Commands\DeleteIndex
		tags:
			- kdyby.console.command
			- console.command

	addAlias:
		class: Spameri\Elastic\Commands\AddAlias
		tags:
			- kdyby.console.command
			- console.command

	removeAlias:
		class: Spameri\Elastic\Commands\RemoveAlias
		tags:
			- kdyby.console.command
			- console.command

	validateMappingCommand:
		class: Spameri\Elastic\Commands\ValidateMapping
		tags:
			- kdyby.console.command
			- console.command

	typeToNewIndex:
		class: Spameri\Elastic\Commands\TypeToNewIndex
		tags:
			- kdyby.console.command
			- console.command

	dumpIndex:
		class: Spameri\Elastic\Commands\DumpIndex
		tags:
			- kdyby.console.command
			- console.command

	loadDump:
		class: Spameri\Elastic\Commands\LoadDump
		tags:
			- kdyby.console.command
			- console.command

#	###
#	Spameri/ElasticQuery
#	###

	resultMapper:
		class: Spameri\ElasticQuery\Response\ResultMapper

#	###
#	Elastic/Elastic
#	###

	clientBuilder:
	 	class: Elasticsearch\ClientBuilder
	 	setup:
	 		- setLogger(@spameriElasticSearch.elasticPanelLogger)

	client:
		class: Elasticsearch\Client
		factory: @spameriElasticSearch.clientBuilder::build

	dateTimeProvider:
		class: Spameri\Elastic\Provider\DateTimeProvider(@spameriElasticSearch.dateTime)

	dateTime:
		class: \DateTimeImmutable

	nullOutput:
		class: Symfony\Component\Console\Output\NullOutput

	consoleOutput:
		class: Symfony\Component\Console\Output\ConsoleOutput

	nullLoggerHandler:
		class: Spameri\Elastic\Import\Run\NullLoggerHandler

	nullLock:
		class: Spameri\Elastic\Import\Lock\NullLock

	nullHandler:
		class: Spameri\Elastic\Import\RunHandler\NullHandler

	consoleHandler:
		class: Spameri\Elastic\Import\RunHandler\ConsoleHandler

	nullAfterImport:
		class: Spameri\Elastic\Import\AfterImport\NullAfterImport
