services:
	elasticMapper:
	 	factory: Spameri\Elastic\Mapper\ElasticMapper

	insert:
		factory: Spameri\Elastic\Model\Insert

	insertMultiple:
		factory: Spameri\Elastic\Model\InsertMultiple

	prepareEntityArray:
		factory: Spameri\Elastic\Model\Insert\PrepareEntityArray

	versionProvider:
		factory: Spameri\Elastic\Model\VersionProvider(%version%)

	get:
		factory: Spameri\Elastic\Model\Get

	getBy:
		factory: Spameri\Elastic\Model\GetBy

	getAllBy:
		factory: Spameri\Elastic\Model\GetAllBy

	search:
		factory: Spameri\Elastic\Model\Search

	scroll:
		factory: Spameri\Elastic\Model\Scroll

	delete:
		factory: Spameri\Elastic\Model\Delete

	aggregate:
		factory: Spameri\Elastic\Model\Aggregate

	deleteMultiple:
		factory: Spameri\Elastic\Model\DeleteMultiple

	indiceClose:
		factory: Spameri\Elastic\Model\Indices\Close

	indiceOpen:
		factory: Spameri\Elastic\Model\Indices\Open

	indiceGet:
		factory: Spameri\Elastic\Model\Indices\Get

	indiceGetMapping:
		factory: Spameri\Elastic\Model\Indices\GetMapping

	indicePutMapping:
		factory: Spameri\Elastic\Model\Indices\PutMapping

	indicePutSettings:
		factory: Spameri\Elastic\Model\Indices\PutSettings

	indicesCreate:
		factory: Spameri\Elastic\Model\Indices\Create

	indicesDelete:
		factory: Spameri\Elastic\Model\Indices\Delete

	serviceLocator:
		factory: Spameri\Elastic\Model\ServiceLocator

	neonSettingsProvider:
		factory: Spameri\Elastic\Settings\NeonSettingsProvider(%host%, %port%)

	clientProvider:
	 	factory: Spameri\Elastic\ClientProvider

	elasticPanelLogger:
		factory: Spameri\Elastic\Diagnostics\PanelLogger(@spameriElasticSearch.nullLogger)
		autowired: false

	nullLogger:
		factory: Psr\Log\NullLogger
		autowired: false

	elasticPanel:
		factory: Spameri\Elastic\Diagnostics\Panel(@spameriElasticSearch.elasticPanelLogger)

	documentMigrateStatus:
		factory: Spameri\Elastic\Model\TypeToNewIndex\DocumentMigrateStatus

	migrate:
		factory: Spameri\Elastic\Model\TypeToNewIndex\Migrate

	modelDumpIndex:
		factory: \Spameri\Elastic\Model\DumpIndex

	restoreIndex:
		factory: \Spameri\Elastic\Model\RestoreIndex

#	###
#	Commands
#	###

	createIndex:
		factory: Spameri\Elastic\Commands\CreateIndex
		tags:
			- kdyby.console.command
			- console.command

	deleteIndex:
		factory: Spameri\Elastic\Commands\DeleteIndex
		tags:
			- kdyby.console.command
			- console.command

	addAlias:
		factory: Spameri\Elastic\Commands\AddAlias
		tags:
			- kdyby.console.command
			- console.command

	removeAlias:
		factory: Spameri\Elastic\Commands\RemoveAlias
		tags:
			- kdyby.console.command
			- console.command

	typeToNewIndex:
		factory: Spameri\Elastic\Commands\TypeToNewIndex
		tags:
			- kdyby.console.command
			- console.command

	dumpIndex:
		factory: Spameri\Elastic\Commands\DumpIndex
		tags:
			- kdyby.console.command
			- console.command

	loadDump:
		factory: Spameri\Elastic\Commands\LoadDump
		tags:
			- kdyby.console.command
			- console.command

#	###
#	Spameri/ElasticQuery
#	###

	resultMapper:
		factory: Spameri\ElasticQuery\Response\ResultMapper

#	###
#	Elastic/Elastic
#	###

	clientBuilder:
	 	factory: Elasticsearch\ClientBuilder
	 	setup:
	 		- setLogger(@spameriElasticSearch.elasticPanelLogger)

	client:
		class: Elasticsearch\Client
		factory: @spameriElasticSearch.clientBuilder::build

	dateTimeProvider:
		factory: Spameri\Elastic\Provider\DateTimeProvider(@spameriElasticSearch.dateTime)

	dateTime:
		factory: \DateTimeImmutable

	nullOutput:
		factory: Symfony\Component\Console\Output\NullOutput

	consoleOutput:
		factory: Symfony\Component\Console\Output\ConsoleOutput

	nullLoggerHandler:
		factory: Spameri\Elastic\Import\Run\NullLoggerHandler

	nullLock:
		factory: Spameri\Elastic\Import\Lock\NullLock

	nullHandler:
		factory: Spameri\Elastic\Import\RunHandler\NullHandler

	consoleHandler:
		factory: Spameri\Elastic\Import\RunHandler\ConsoleHandler

	nullAfterImport:
		factory: Spameri\Elastic\Import\AfterImport\NullAfterImport
