services:
	insert:
		factory: Spameri\Elastic\Model\Insert

	insertMultiple:
		factory: Spameri\Elastic\Model\InsertMultiple

	prepareEntityArray:
		factory: Spameri\Elastic\Model\Insert\PrepareEntityArray

	identityMap:
		factory: Spameri\Elastic\Model\IdentityMap

	changeSet:
		factory: Spameri\Elastic\Model\ChangeSet

	versionProvider:
		factory: Spameri\Elastic\Model\VersionProvider(%version%)

	get:
		factory: Spameri\Elastic\Model\Get

	getBy:
		factory: Spameri\Elastic\Model\GetBy

	getAllBy:
		factory: Spameri\Elastic\Model\GetAllBy

	search:
		factory: Spameri\Elastic\Model\Search

	scroll:
		factory: Spameri\Elastic\Model\Scroll

	delete:
		factory: Spameri\Elastic\Model\Delete

	dispatchEvents:
		factory: Spameri\Elastic\EventManager\DispatchEvents

	aggregate:
		factory: Spameri\Elastic\Model\Aggregate

	deleteMultiple:
		factory: Spameri\Elastic\Model\DeleteMultiple

	modelDumpIndex:
		factory: \Spameri\Elastic\Model\DumpIndex

	restoreIndex:
		factory: \Spameri\Elastic\Model\RestoreIndex

	createIndex:
		factory: Spameri\Elastic\Model\CreateIndex

	deleteIndex:
		factory: Spameri\Elastic\Model\DeleteIndex

	initializeIndex:
		factory: Spameri\Elastic\Model\InitializeIndex

	entitySettingsLocator:
		factory: Spameri\Elastic\Model\EntitySettingsLocator

	index:
		factory: Spameri\Elastic\Model\Index

#	###
#	Indices
#	###

	indiceClose:
		factory: Spameri\Elastic\Model\Indices\Close

	indiceOpen:
		factory: Spameri\Elastic\Model\Indices\Open

	indiceGet:
		factory: Spameri\Elastic\Model\Indices\Get

	indiceGetMapping:
		factory: Spameri\Elastic\Model\Indices\GetMapping

	indicePutMapping:
		factory: Spameri\Elastic\Model\Indices\PutMapping

	indicePutSettings:
		factory: Spameri\Elastic\Model\Indices\PutSettings

	indicesCreate:
		factory: Spameri\Elastic\Model\Indices\Create

	indicesDelete:
		factory: Spameri\Elastic\Model\Indices\Delete

	indicesAddAlias:
		factory: Spameri\Elastic\Model\Indices\AddAlias

	indicesMoveAlias:
		factory: Spameri\Elastic\Model\Indices\MoveAlias

	indicesRemoveAlias:
		factory: Spameri\Elastic\Model\Indices\RemoveAlias

	indicesExists:
		factory: Spameri\Elastic\Model\Indices\Exists

	indicesGetFieldMapping:
		factory: Spameri\Elastic\Model\Indices\GetFieldMapping

	neonSettingsProvider:
		factory: Spameri\Elastic\Settings\NeonSettingsProvider(%host%, %port%)

	clientProvider:
	 	factory: Spameri\Elastic\ClientProvider

	elasticPanelLogger:
		factory: Spameri\Elastic\Diagnostics\PanelLogger(@spameriElasticSearch.nullLogger)
		autowired: false

	nullLogger:
		factory: Psr\Log\NullLogger
		autowired: false

	elasticPanel:
		factory: Spameri\Elastic\Diagnostics\Panel(@spameriElasticSearch.elasticPanelLogger)

#	###
#	Commands
#	###

	createIndexCommand:
		factory: Spameri\Elastic\Commands\CreateIndex
		tags:
			- kdyby.console.command
			- console.command

	deleteIndexCommand:
		factory: Spameri\Elastic\Commands\DeleteIndex
		tags:
			- kdyby.console.command
			- console.command

	addAliasCommand:
		factory: Spameri\Elastic\Commands\AddAlias
		tags:
			- kdyby.console.command
			- console.command

	removeAliasCommand:
		factory: Spameri\Elastic\Commands\RemoveAlias
		tags:
			- kdyby.console.command
			- console.command

	dumpIndexCommand:
		factory: Spameri\Elastic\Commands\DumpIndex
		tags:
			- kdyby.console.command
			- console.command

	loadDumpCommand:
		factory: Spameri\Elastic\Commands\LoadDump
		tags:
			- kdyby.console.command
			- console.command

	initializeIndexesCommand:
		factory: Spameri\Elastic\Commands\InitializeIndexes
		tags:
			- kdyby.console.command
			- console.command

#	###
#	Spameri/ElasticQuery
#	###

	resultMapper:
		factory: Spameri\ElasticQuery\Response\ResultMapper

#	###
#	Elastic/Elastic
#	###

	clientBuilder:
	 	factory: \Elastic\Elasticsearch\ClientBuilder
	 	setup:
	 		- setLogger(@spameriElasticSearch.elasticPanelLogger)

	client:
		class: \Elastic\Elasticsearch\Client
		factory: @spameriElasticSearch.clientBuilder::build

	dateTimeProvider:
		factory: Spameri\Elastic\Provider\DateTimeProvider(@spameriElasticSearch.dateTime)

	dateTime:
		factory: \DateTimeImmutable

	nullLoggerHandler:
		factory: Spameri\Elastic\Import\Run\NullLoggerHandler

	nullLock:
		factory: Spameri\Elastic\Import\Lock\NullLock

	nullHandler:
		factory: Spameri\Elastic\Import\RunHandler\NullHandler

	consoleHandler:
		factory: Spameri\Elastic\Import\RunHandler\ConsoleHandler

	nullAfterImport:
		factory: Spameri\Elastic\Import\AfterImport\NullAfterImport

	entityFactory:
		factory: Spameri\Elastic\Factory\EntityFactory

#	entityService:
#		factory: Spameri\Elastic\Model\EntityService

	entityManager:
		factory: Spameri\Elastic\EntityManager

	eventManager:
		factory: Spameri\Elastic\EventManager

	reflection:
		factory: Spameri\Elastic\Reflection\Reflection